/*
 * Spaces
 */

$space-1: 5px !default;
$space-2: $space-1 * 2 !default; // 10px
$space-3: $space-2 * 2 !default; // 20px
$space-4: $space-3 * 2 !default; // 40px
$space-5: $space-4 * 2 !default; // 80px