/*
 * Type
 */

// Familys
$font-family: "Roboto", sans-serif !default;

// Sizes
$font-size-legend: 12 !default;
$font-size-body: 14 !default;

$display-3: 18 !default;
$display-2: 22 !default;
$display-1: 26 !default;

// Weights
$font-weight-bold: 700!default;
$font-weight-regular: 400!default;

// Line-heights
$line-height-default: 1;
$line-height-text: 1.4;