/*
 * Grid
 */

/* Mixins */

// Cols default
@mixin col($col) {
  position: relative;
  min-height: 1px;
  padding: 0 $gutter;
  float: left;

  // Calc
  $calc: 100% / (12 / $col);
  width: $calc;
}

// Offset cols
@mixin offset($col) {
  $calc: 100% / (12 / $col);
  margin-left: $calc;
}

/* Container */
.container {
  width: 100%;
  max-width: 1280px + ($gutter * 4);
  margin: 0 auto;
  padding: 0 ($gutter * 2);
  @extend %clearfix;
}

/* Row */
.row {
  margin: 0 (-$gutter);
  @extend %clearfix;
}

/* Cols */

// Default

// .col-xs-1, .col-s-1, ...
@include repeatInAllBreakpoints(col, 1) {
  @include col(1);
}

// .col-xs-2, .col-s-2, ...
@include repeatInAllBreakpoints(col, 2) {
  @include col(2);
}

// .col-xs-3, .col-s-3, ...
@include repeatInAllBreakpoints(col, 3) {
  @include col(3);
}

// .col-xs-4, .col-s-4, ...
@include repeatInAllBreakpoints(col, 4) {
  @include col(4);
}

// .col-xs-5, .col-s-5, ...
@include repeatInAllBreakpoints(col, 5) {
  @include col(5);
}

// .col-xs-6, .col-s-6, ...
@include repeatInAllBreakpoints(col, 6) {
  @include col(6);
}

// .col-xs-7, .col-s-7, ...
@include repeatInAllBreakpoints(col, 7) {
  @include col(7);
}

// .col-xs-8, .col-s-8, ...
@include repeatInAllBreakpoints(col, 8) {
  @include col(8);
}

// .col-xs-9, .col-s-9, ...
@include repeatInAllBreakpoints(col, 9) {
  @include col(9);
}

// .col-xs-10, .col-s-10, ...
@include repeatInAllBreakpoints(col, 10) {
  @include col(10);
}

// .col-xs-11, .col-s-11, ...
@include repeatInAllBreakpoints(col, 11) {
  @include col(11);
}

// .col-xs-12, .col-s-12, ...
@include repeatInAllBreakpoints(col, 12) {
  @include col(12);
}

// Offsets

// .col-xs-offset-0, .col-s-offset-0, ...
@include repeatInAllBreakpoints(col, offset-0) {
  @include offset(0);
}

// .col-xs-offset-1, .col-s-offset-1, ...
@include repeatInAllBreakpoints(col, offset-1) {
  @include offset(1);
}

// .col-xs-offset-2, .col-s-offset-2, ...
@include repeatInAllBreakpoints(col, offset-2) {
  @include offset(2);
}

// .col-xs-offset-3, .col-s-offset-3, ...
@include repeatInAllBreakpoints(col, offset-3) {
  @include offset(3);
}

// .col-xs-offset-4, .col-s-offset-4, ...
@include repeatInAllBreakpoints(col, offset-4) {
  @include offset(4);
}

// .col-xs-offset-5, .col-s-offset-5, ...
@include repeatInAllBreakpoints(col, offset-5) {
  @include offset(5);
}

// .col-xs-offset-6, .col-s-offset-6, ...
@include repeatInAllBreakpoints(col, offset-6) {
  @include offset(6);
}

// .col-xs-offset-7, .col-s-offset-7, ...
@include repeatInAllBreakpoints(col, offset-7) {
  @include offset(7);
}

// .col-xs-offset-8, .col-s-offset-8, ...
@include repeatInAllBreakpoints(col, offset-8) {
  @include offset(8);
}

// .col-xs-offset-9, .col-s-offset-9, ...
@include repeatInAllBreakpoints(col, offset-9) {
  @include offset(9);
}

// .col-xs-offset-10, .col-s-offset-10, ...
@include repeatInAllBreakpoints(col, offset-10) {
  @include offset(10);
}

// .col-xs-offset-11, .col-s-offset-11, ...
@include repeatInAllBreakpoints(col, offset-11) {
  @include offset(11);
}

// .col-xs-offset-12, .col-s-offset-12, ...
@include repeatInAllBreakpoints(col, offset-12) {
  @include offset(12);
}